@use "../vars/" as *;

.about-page {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}

.about-v {
    margin-top: auto;
}

.about-me-content {
    .about-socials {
        padding-left: 30px;
    }
}

.about-socials {
    li {
        margin: .75rem auto;
        list-style: disc;
    }
}

.about-me-content {
    max-width: 80ch;
    margin: 3rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
