---
title: About - Eleventy Photo Gallery
meta_desc: A page about John Smith, and photography. This template is currently the default version so add your own about me page info here.
url: https://eleventy-gallery.netlify.app/about
img: /images/terrace-window.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
eleventyNavigation:
  key: About
  order: 4
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>This project will help you easily plug your Nextcloud to a public website.</p>
  <p>Find the useful links below:</p>

  <ul class="about-socials">
    {% for key, value in site.socials %}
      <li><a href="{{ value }}">{{ key | title }}</a></li>
    {% endfor %}
  </ul>
</div>