---
title: Event
pagination:
  data: collections.events
  size: 1
  alias: event
layout: main.njk
permalink: "{{ event.url | url }}"
meta_desc: An event from Nextcloud.
cardType: summary_large_image
---

<div class="gallery">
    <h1>{{ event.name }}</h1>
    <ul class="gallery-list">
        {% if event.images.length === 0 %}
            <p>No image for this event. Come back later!</p>
        {% endif %}
        {% for image in event.images %}
            <li class="gallery-item">
                <div class="image-block">
                    {% img
                        src=image.url,
                        alt=image.name,
                        imgDir="./_site",
                        className="gallery-photo",
                        sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 950px) 50vw, 33.3vw"
                    %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>