<div class="event">
    <ul class="event-list">
        {% if year %}
            {% set events = collections.events | filterByYear(year.name) %}

            {% if events.length === 0 %}
                <p>No event for year {{ year.name }}. Come back later!</p>
            {% endif %}
        {% else %}
            {% set events = collections.events %}
        {% endif %}

        {% for event in events %}
            {% set coverPhoto = event.images | getCoverPhoto %}
            <li class="event-item">
                <a
                  href="{{ event.url }}"
                >
              <div class="event-block">
                  <span class="event-block-title">{{ event.name }}</span>
                  <span>{{ event.description }}</span>
                  <span class="event-year">{{ event.year }}</span>
                  {% if coverPhoto %}
                    <img src="{{ coverPhoto.url }}" alt="Cover {{ event.name }}">
                  {% endif %}
              </div>
            </a>
            </li>
        {% endfor %}
    </ul>
</div>
