{% set navigation = collections.all | eleventyNavigation %}
<header class="top-nav">
    <nav class="nav-main">
        <ul class="nav-list">
            <div class="intro">
                <div>
                    <a class="home-button" href="/">{{ site.author.siteName }}</a>
                </div>
            </div>
            {% for link in navigation %}
            <li><a href="{{ link.url | url }}" class="link">{{ link.title }}</a></li>
            {% endfor %}
            <li><a class="link" target="_blank" href="https://github.com/alouradou/eleventy-nextcloud-photo-gallery">Code</a></li>
        </ul>
    </nav>
</header>