<div class="gallery">
    <ul class="gallery-list">
        {% for dir in collections.years %}
        <li class="gallery-item">
            <a
              href="{{ dir.url }}"
            >
          <div class="image-block">
              <h2>{{ dir.name }}</h2>
              <p>{{ dir.internalHref }}</p>
          </div>
        </a>
        </li>
    {% endfor %}
{#        {% for image in collections.years %}#}
{#        <li class="gallery-item">#}
{#            <div class="image-block">#}
{#                <a#}
{#                    href="{{ image.title | slug }}"#}
{#                    aria-label="Gallery image {{ image.title }}"#}
{#                >#}
{#                {% img#}
{#                    src=image.src,#}
{#                    alt=image.alt,#}
{#                    className="gallery-photo",#}
{#                    sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 950px) 50vw, 33.3vw"#}
{#                %}#}
{#                </a>#}
{#                <div class="block-details">#}
{#                    <p>{{ image.date }}</p>#}
{#                    <h2><a href="/gallery/{{ image.title | slug }}">{{ image.title }}</a></h2>#}
{#                </div>#}
{#            </div>#}
{#        </li>#}
{#        {% endfor %}#}
    </ul>
</div>
