<div class="event">
    <ul class="event-list">
        {% for dir in collections.years %}
        <li class="event-item">
            <a
              href="{{ dir.url }}"
            >
          <div class="event-block">
              <span class="event-block-title">{{ dir.name }}</span>
              <span>{{ dir.description }}</span>
          </div>
        </a>
        </li>
    {% endfor %}
    </ul>
</div>
